body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


/* Styles Products */

.product-columns {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  grid-gap: 5px;
}

.product-columns li {
  border: 1px solid #5291c5;
  border-radius: 3%;
  padding: 10px;
}

.product-columns li img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 3%;
  transition: transform 0.3s ease;
}

.product-columns li:hover img {
  transform: scale(1.02);

}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Fondo oscuro semi-transparente */
  z-index: 999;
  /* Asegura que la capa de fondo oscuro esté sobre el resto del contenido */
  display: none;
  /* Por defecto, la capa estará oculta */
}

.zoomed-image {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Centra la imagen en la pantalla */
  z-index: 1000;
  /* Asegura que la imagen esté sobre la capa de fondo oscuro */
  display: none;
  /* Por defecto, la imagen ampliada estará oculta */
}

.zoomed-image img {
  max-width: 90%;
  max-height: 90%;

}

.advertisement-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}