body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #13C1AC;
}

button,
.search-button {
  background-color: #13C1AC;
}

.search-input {
  color: #13C1AC;
}

/* .menu-navbar li>a {
  color: #13C1AC;
} */


/* Styles Products */

.product-columns {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  grid-gap: 5px;
}

.product-columns li {
  border: 2px solid #13C1AC;
  border-radius: 3%;
  padding: 10px;
}

.product-columns li img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 3%;
  transition: transform 0.3s ease;
  margin: 0 auto;
}

.product-columns li:hover img {
  transform: scale(1.02);

}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;

}

.zoomed-image {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: none;

}

.zoomed-image img {
  max-width: 90%;
  max-height: 90%;

}

.advertisement-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* FOOTER */

.container_footer {
  width: 100%;
  text-align: center;
}

.container_footer p {
  font-size: 12px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #13C1AC;
}