.notification {
  border: solid 2px rgb(0, 0, 0);
  padding: 0.5rem;
  border-radius: 15px;

}

.notification p {
  color: black;
}

.notification.success {
  background-color: #13C1AC;
  color: black;
}

.notification.error {
  background-color: #f73865;
}